<% content_for :title, ' | About' %>

<div id="content">
    <div id="welcome">
      <p class="stryde" id="welcome_title">About Us</p>
      <p>
        <strong>re.factored</strong> is a class project by four members of the
        Computer Science 169 class at UC Berkeley.
      </p>
    </div>
</div>

