<% content_for :title, ' | Help' %>

<div id="content">
  <div id="welcome">
    <p class="stryde" id="welcome_title">Help</p>
    <p>
      <strong>re.factored</strong> might at first seem like bSpace or BlackBoard.
      However, right now it does not support online attachments, submissions, or quizzes.
    </p>
  </div>
</div>

