#grades_list th {
	padding-right:20px;
	text-align:left;
	padding-bottom:12px;
}

#grades_list td {
	padding-right:20px;
	text-align:left;
	padding-top:4px;
}
 
#grades_list {
	margin-top:12px;
	float:left;
	border-collapse:collapse;
	table-layout:fixed;
}

.item_name {
	width:180px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow: ellipsis; 
}

#content_container {
	margin-left:40px;
	clear:both;
	margin-top:36px;
	overflow:auto;
}

#histogram_container {
	float:right;
	width:55%;
	height:400px;
}

#grade_totals {
	font-size:24px;
	font-weight:bold;
}

#grade_totals td {
	padding-top:30px;
}

#new_grade_link {
	font-size:16px;	
	font-weight:normal;
	margin-left:12px;
}

#grades_list td.align_right {
	text-align:right;
}

#grades_list th.align_right {
	text-align:right;
}

.hint {
	color:#c5c5c5;
	font-style:italic;
}

.no_grade {
	padding-left:36px;
}

.divide {
	color:#e2e2e2;
	padding-left:16px;
}

.destroy_checkbox {
	margin-right:16px;
}

a {
	text-decoration:none;
}

#performance_container {
	padding-top:20px;
	margin-bottom:30px;
	width:100%;
	height:400px;
	clear:both;
}
