body {
    margin: auto;
    background-color: #ffffff;
    font-family: "Tahoma", "Verdana", san-serif;
    color: #979899;
}
a {
    color: #979899;
}
#school {
    float: right;
}
#header {
    color: #646566;
    padding: 5px;
}
#header a {
    color: #646566;
}
#banner {
    padding: 2px 0 5px 0;
    background: url("images/logo.png") #d1e751 no-repeat;
    height: 81px;
}
#college_logo {
    float: right;
}
#banner_right {
    margin: 3em 10px 0 0;
    float: right;
}
#banner_right input {
    margin-top: 3px;
    color: #cccccc;
}
/*#banner_right a {
    float: right;
    margin-left: 3px;
    width: 72px;
    height: 28px;
    background-image: url("button.png");
}
#banner_right a:active {
    float: right;
    margin-top: 0;
    background-image: url("button_hover.png");
}*/
/*
a.login_button:focus { outline: 0; }
a.login_button:focus { outline: none; }
a.login_button:-moz-focus-inner { border: none;}

a.login_button_load  {
    background: url("/images/button_pressed.png");
    visibility: hidden;
}

a.login_button, a.login_button:link  {
    border: none;
    background: transparent url("/images/button.png") no-repeat scroll top right;
    display: block;
    float: right;
    width: 72px;
    height: 28px;
    margin-left: 4px;
}
a.login_button span {
    background: transparent url("/images/button.png") no-repeat scroll top right;
    display: block;
}
a.login_button:active {
    float: right;
    margin-top: 0;
    background-image: url("/images/button_pressed.png");
}*/
.login_button {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    background: transparent url("/images/button.png") no-repeat;
    vertical-align: -7%;
    width: 72px;
    height: 28px;
}
.login_button:active {
    outline: 0;
    background-image: url("/images/button_pressed.png");
}

input.login_button:focus { outline: 0; }
input.login_button:focus { outline: none; }
input.login_button:-moz-focus-inner { border: none;}

#breadcrumbs {
    /*float: left;*/
    width: 100%;
    padding: 6px;
    margin: 5px;
    list-style-type: none;
}
#breadcrumbs a {
    text-decoration: none;
    color: white;

}
.breadcrumbs_a {
    float: left;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #26ade4;
    margin: 3px;
    padding: 3px;
}
.breadcrumbs_arrow {
    float: left;
    font-size: 9pt;
    text-decoration: none;
    color: #d1e5f3;
    margin: 8px 3px 8px 3px;
}
.breadcrumbs_semester {
    float: left;
    font-weight: bold;
    text-decoration: none;
    color: #646566;
    margin: 3px 3px 3px 10px;
    padding: 3px;
}
#content {
    clear: left;
    padding: 20px 3% 0 3%;
}
#courses {
    float: left;
    width: 65%;
}
#courses .name {
    text-decoration: none;
}
.course {
    display: inline-block;
    line-height: 30pt;
    font-weight: bold;
    font-size: 14pt;
}
.course_action {
    width: 40%;
    display: inline-block;
    line-height: 30pt;
    font-weight: bold;
    font-size: 14pt;
}
.course_info {
    padding: 0 0 0 2%;
    position: relative;
    vertical-align: text-bottom;
    font-family: StRyde, "edelsans", "Tahoma", sans-serif;
    font-size: 14pt;
}
.course_action_comment {
    padding: 0 0 0 30px;
    vertical-align: text-bottom;
    font-family: StRyde, "edelsans", "Tahoma", sans-serif;
    font-size: 14pt;
}
#calendar {
    float: right;
    width: 35%;
    font-weight: bold;
}
#calendar ul {
    padding-left: 5%;
}

#calendar_title {
    color: #bd2031;
    text-decoration: none;
    border-bottom: 1px dashed;
    font-weight: bold;
}
.calendar_entry {
    list-style-type: square;
    line-height: 150%;
}
.calendar_entry a {
    font-weight: normal;
}
#add_icon {
    visibility: hidden;
}
#new_item {
    width: 115px;
    height: 34px;
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 26%;
    padding: 0 2px 0 3px;
    background-image: url("/images/round.png");
}

/* Forums CSS */

.forum_actions {
    display:inline-block;
    width: 100%;
    padding-left: 28px;
    margin: 4px;
    list-style-type: none;
}
.forum_actions a {
    text-decoration: none;
}
.forum_actions li {
    float: left;
    text-decoration: none;
    padding: 0 12px 0 12px;
    text-transform: uppercase;
    font-size: 10.5pt;
    border-left: 1px solid #d3d3d3;
}
.forum_action_left {
    border-left: 0!important;
}
#forum_content {
    /*display:inline-block;*/
    width: 100%;
    list-style-type: none;
    color: #646566;
}

#forum_content li {
    font-size: 11pt;
    line-height: 160%;
}

.post {
    display:inline-block;
    width: 90%;
    padding-left: 0px;
    list-style-type: none;
    border-bottom: 1px dotted black;
}
.post a {
    text-decoration: none;
}
.post li {
    float: left;
    text-decoration: none;
}
.unread {
    font-weight: bold;
}
.post input {
    vertical-align: text-top;
}
.post_expand {
    font-weight: normal;
}
.post_title {
    width: 56%;
}
.post_replies {
    width: 10%;
}
.post_author {
    width: 15%;
}
.post_date {
    width: 9%;
}
.post_time {
    font-variant: small-caps;
    float:right!important;
}