<div id="content">
	<h1>Listing users</h1>
	
	<table id="users_list">
	  <tr>
	    <th>First name</th>
	    <th>Last name</th>
	    <th>Facebook</th>
	  </tr>
	
	<% @users.each do |user| %>
	  <tr>
	    <td><%=h user.first_name %></td>
	    <td><%=h user.last_name %></td>
	    <td>
	    <% if user.fb_id %>
	    	<a class="index_fb_link" href="<%= user.fb_url %>">Facebook</a>
	    <% end %>
	    </td>
	    <td><%=h link_to 'Show', user %></td>
	  </tr>
	<% end %>
	</table>
</div>