<div>
  <nav>
  <ul id ="breadcrumbs">
    <li class="breadcrumbs_a"><%= link_to "Home", root_path %></li>
    <% navigation.each do |nav| %>
      <li class="breadcrumbs_arrow">&#9654;</li>
      <li class="breadcrumbs_a"><%= link_to nav.first, nav.last %></li>
    <% end %>
    <% unless defined?(no_semester) %>
    <li class="breadcrumbs_semester">
      Fall '10 <img alt="&9662;" src="/images/flat_triangle.gif" />
      <form action="<%= '/' %>" method="GET">
      	<!-- dropdown here -->
      </form>
    </li>
    <% end %>
  </ul>
  </nav>
</div>
