<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no" />
  <title><%=h yield(:title) %></title>
  <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
  <link rel="icon" type="image/ico" href="/images/favicon.ico" />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon..png" />
  <link href="/stylesheets/mobile.css" rel="stylesheet" type="text/css" />
</head>
<body>
<%= yield %>
</body>
</html>
